<!-- To change the layout of the detail view form, we recommend using JS code in hooks/Catalog-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="Catalog_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="Catalog_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<input type="hidden" id="Donations_hclink" value="Donations_view.php?filterer_CatalogID=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="Transactions_view.php?filterer_CatalogID=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>" id="Transactions_link"><img src="resources/table_icons/32Px - 397.png"> Transactions</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="Transactions_view.php?filterer_CatalogID=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>" id="xs_Transactions_link"><img src="resources/table_icons/32Px - 397.png"> Transactions</a>
			<input type="hidden" id="Transactions_hclink" value="Transactions_view.php?filterer_CatalogID=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="Catalog_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group Catalog-ID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ID">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="ID"><%%VALUE(ID)%%></div>
					</div>
				</div>

				<!-- Field: Catalog No -->
				<div class="form-group Catalog-CatalogNo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CatalogNo">Catalog No</label>
					<div class="col-lg-9">
						<input maxlength="6" type="text" class="form-control" name="CatalogNo" id="CatalogNo" value="<%%VALUE(CatalogNo)%%>">
					</div>
				</div>

				<!-- Field: Catalog Title -->
				<div class="form-group Catalog-CatalogTitle">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CatalogTitle">Catalog Title</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="CatalogTitle" id="CatalogTitle" value="<%%VALUE(CatalogTitle)%%>">
					</div>
				</div>

				<!-- Field: Description -->
				<div class="form-group Catalog-Description">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Description">Description <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Description-description"></i></label>
					<div class="col-lg-9 has-nicedit">
						<span class="help-block bspacer-xs collapse" id="Description-description"><div class="alert alert-info bspacer-xs">A detailed description of the Catalog Item.</div></span>
						<%%HTMLAREA(Description)%%>
					</div>
				</div>

				<!-- Field: Restrictions -->
				<div class="form-group Catalog-Restrictions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Restrictions">Restrictions <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Restrictions-description"></i></label>
					<div class="col-lg-9 has-nicedit">
						<span class="help-block bspacer-xs collapse" id="Restrictions-description"><div class="alert alert-info bspacer-xs">A combination of the donation items restrictions.</div></span>
						<%%HTMLAREA(Restrictions)%%>
					</div>
				</div>

				<!-- Field: Catalog Type -->
				<div class="form-group Catalog-TypeID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="TypeID" data-parent_link="view_parent_modal">Catalog Type</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(TypeID)%%><%%PLINK(TypeID)%%><%%ADDNEW(CatalogTypes)%%></div>
					</div>
				</div>

				<!-- Field: Grouping -->
				<div class="form-group Catalog-GroupID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="GroupID" data-parent_link="view_parent_modal">Grouping</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(GroupID)%%><%%PLINK(GroupID)%%><%%ADDNEW(CatalogGroups)%%></div>
					</div>
				</div>

				<!-- Field: Donor Text -->
				<div class="form-group Catalog-DonorText">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="DonorText">Donor Text <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#DonorText-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="DonorText-description"><div class="alert alert-info bspacer-xs">Names of people that donationed items for this catalog for display in catalog or bid sheet.</div></span>
						<input type="text" class="form-control" name="DonorText" id="DonorText" value="<%%VALUE(DonorText)%%>">
					</div>
				</div>

				<!-- Field: Additional Info -->
				<div class="form-group Catalog-AdditionalInfo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="AdditionalInfo">Additional Info</label>
					<div class="col-lg-9">
						<%%COMBO(AdditionalInfo)%%>
					</div>
				</div>

				<!-- Field: Catalog Value Text -->
				<div class="form-group Catalog-CatalogValueText">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CatalogValueText">Catalog Value Text <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#CatalogValueText-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="CatalogValueText-description"><div class="alert alert-info bspacer-xs">What you would like printed in the catalog or Bid Sheet.</div></span>
						<input maxlength="50" type="text" class="form-control" name="CatalogValueText" id="CatalogValueText" value="<%%VALUE(CatalogValueText)%%>">
					</div>
				</div>

				<!-- Field: Quantity -->
				<div class="form-group Catalog-Quantity">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Quantity">Quantity</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="Quantity" id="Quantity" value="<%%VALUE(Quantity)%%>">
					</div>
				</div>

				<!-- Field: Total Value -->
				<div class="form-group Catalog-Values">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Total Value</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="Values"><%%VALUE(Values)%%></div>
					</div>
				</div>

				<!-- Field: ValueTxt -->
				<div class="form-group Catalog-ValueTxt">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">ValueTxt</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="ValueTxt"><%%VALUE(ValueTxt)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="Catalog_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="Catalog-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#Description').length) new nicEditor({ fullPanel : true }).panelInstance('Description');
					if($j('textarea#Restrictions').length) new nicEditor({ fullPanel : true }).panelInstance('Restrictions');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#Catalog_dv_container-loading').addClass('hidden');
			$j('#Catalog_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('Catalog', 'CatalogNo');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'Catalog',
						SelectedID: '<%%VALUE(ID)%%>',
						Operation: 'show-children'
					},
					'Catalog-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'Catalog',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=Catalog&id=<%%URLVALUE(ID)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=Catalog&id=<%%URLVALUE(ID)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>