<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Donations_init() hook (in hooks/Donations.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Donations-DonationName-<%%VALUE(ID)%%>" class="Donations-DonationName"><%%SELECT%%><%%VALUE(DonationName)%%><%%ENDSELECT%%></td>
		<td id="Donations-Description-<%%VALUE(ID)%%>" class="Donations-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></td>
		<td id="Donations-Restrictions-<%%VALUE(ID)%%>" class="Donations-Restrictions"><%%SELECT%%><%%VALUE(Restrictions)%%><%%ENDSELECT%%></td>
		<td id="Donations-Value-<%%VALUE(ID)%%>" class="Donations-Value text-right"><%%SELECT%%><%%VALUE(Value)%%><%%ENDSELECT%%></td>
		<td id="Donations-CatalogID-<%%VALUE(ID)%%>" class="Donations-CatalogID"><%%VALUE(CatalogID)%%></td>
		<td id="Donations-ContactID-<%%VALUE(ID)%%>" class="Donations-ContactID"><%%SELECT%%><%%VALUE(ContactID)%%><%%ENDSELECT%%></td>
		<td id="Donations-ContactPerson-<%%VALUE(ID)%%>" class="Donations-ContactPerson"><%%SELECT%%><%%VALUE(ContactPerson)%%><%%ENDSELECT%%></td>
		<td id="Donations-ContactPhone-<%%VALUE(ID)%%>" class="Donations-ContactPhone"><%%SELECT%%><%%VALUE(ContactPhone)%%><%%ENDSELECT%%></td>
		<td id="Donations-ItemStatus-<%%VALUE(ID)%%>" class="Donations-ItemStatus"><%%SELECT%%><%%VALUE(ItemStatus)%%><%%ENDSELECT%%></td>
		<td id="Donations-ProcuredBy-<%%VALUE(ID)%%>" class="Donations-ProcuredBy"><%%SELECT%%><%%VALUE(ProcuredBy)%%><%%ENDSELECT%%></td>
		<td id="Donations-DateProcured-<%%VALUE(ID)%%>" class="Donations-DateProcured"><%%VALUE(DateProcured)%%></td>
		<td id="Donations-AdditionalInfo-<%%VALUE(ID)%%>" class="Donations-AdditionalInfo"><%%SELECT%%><%%VALUE(AdditionalInfo)%%><%%ENDSELECT%%></td>
		<td id="Donations-Thanks-<%%VALUE(ID)%%>" class="Donations-Thanks"><%%VALUE(Thanks)%%></td>
		<td id="Donations-Notes-<%%VALUE(ID)%%>" class="Donations-Notes"><%%SELECT%%><%%VALUE(Notes)%%><%%ENDSELECT%%></td>
