<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Payments_init() hook (in hooks/Payments.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Payments-Date-<%%VALUE(ID)%%>" class="Payments-Date text-bold"><%%VALUE(Date)%%></td>
		<td id="Payments-BidderID-<%%VALUE(ID)%%>" class="Payments-BidderID text-bold"><%%VALUE(BidderID)%%></td>
		<td id="Payments-PaymentAmount-<%%VALUE(ID)%%>" class="Payments-PaymentAmount text-right text-bold"><%%VALUE(PaymentAmount)%%></td>
		<td id="Payments-PaymentType-<%%VALUE(ID)%%>" class="Payments-PaymentType text-bold"><%%VALUE(PaymentType)%%></td>
