<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Tickets_init() hook (in hooks/Tickets.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Tickets-UsersName-<%%VALUE(ID)%%>" class="Tickets-UsersName"><%%SELECT%%><%%VALUE(UsersName)%%><%%ENDSELECT%%></td>
		<td id="Tickets-BidderID-<%%VALUE(ID)%%>" class="Tickets-BidderID"><%%SELECT%%><%%VALUE(BidderID)%%><%%ENDSELECT%%></td>
		<td id="Tickets-TablePreference-<%%VALUE(ID)%%>" class="Tickets-TablePreference"><%%SELECT%%><%%VALUE(TablePreference)%%><%%ENDSELECT%%></td>
		<td id="Tickets-TableID-<%%VALUE(ID)%%>" class="Tickets-TableID"><%%SELECT%%><%%VALUE(TableID)%%><%%ENDSELECT%%></td>
		<td id="Tickets-TableName-<%%VALUE(ID)%%>" class="Tickets-TableName"><%%SELECT%%><%%VALUE(TableName)%%><%%ENDSELECT%%></td>
		<td id="Tickets-SeatingPosition-<%%VALUE(ID)%%>" class="Tickets-SeatingPosition"><%%SELECT%%><%%VALUE(SeatingPosition)%%><%%ENDSELECT%%></td>
