<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Transactions_init() hook (in hooks/Transactions.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Transactions-CatalogID-<%%VALUE(ID)%%>" class="Transactions-CatalogID"><%%SELECT%%><%%VALUE(CatalogID)%%><%%ENDSELECT%%></td>
		<td id="Transactions-BidderID-<%%VALUE(ID)%%>" class="Transactions-BidderID"><%%SELECT%%><%%VALUE(BidderID)%%><%%ENDSELECT%%></td>
		<td id="Transactions-Price-<%%VALUE(ID)%%>" class="Transactions-Price text-right"><%%SELECT%%><%%VALUE(Price)%%><%%ENDSELECT%%></td>
		<td id="Transactions-Quantity-<%%VALUE(ID)%%>" class="Transactions-Quantity text-right"><%%SELECT%%><%%VALUE(Quantity)%%><%%ENDSELECT%%></td>
		<td id="Transactions-Total-<%%VALUE(ID)%%>" class="Transactions-Total text-right"><%%SELECT%%><%%VALUE(Total)%%><%%ENDSELECT%%></td>
